config BACKPORT_FIRMWARE_CLASS
	tristate
	default m if FIRMWARE_CLASS=m

config BACKPORT_NET_SCH_CODEL
	tristate "codel"
	depends on m
	default m if NET_SCH_CODEL=n

config BACKPORT_NET_SCH_FQ_CODEL
	tristate "FQ codel"
	depends on m
	default m if NET_SCH_FQ_CODEL=n

config BACKPORT_KFIFO
	def_bool y
	# FIXME: REDHAT_6_1 also includes this
	depends on BACKPORT_KERNEL_2_6_36

config BACKPORT_CORDIC
	bool
	default y if CORDIC=n

config BACKPORT_CRC8
	bool
	default y if !CRC8

config BACKPORT_ATOMIC64
	bool
	default y if !64BIT && !GENERIC_ATOMIC64

config BACKPORT_BT_SOCK_CREATE_NEEDS_KERN
	bool
	# FIXME: REDHAT_6_0 also requires this
	default y if !BACKPORT_KERNEL_2_6_33
